

.item-container {
    max-height: 15vh;
    display: flex;
    flex-direction: row;
    padding: 2vh 4vw 2vh 4vw;
}

.item-art {
    max-height: 15vh;
}

.name-button-container {
    display: flex;
    flex-direction: column;
    margin: 1vh 3vw 1vh 3vw
}

.item-name {
    font-size: 24px;
    margin-bottom: 4vh;
    flex-grow: 1;
}

.remove-item {
    width: 70px;
}