
.artcard-art {
    height: 24vh;
    margin-left: 2vw;
}

.shopping-cart-item-container {
    display: flex;
}

.item-container {
    display: flex;
    flex-direction: row;
    width: 98vw;
    margin-bottom: 2vh;
}

.item-art {
    max-height: 15vh;
}

.remove-item {
    width: 70px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.item-name, .item-desc, .item-price, .item-dimensions {
    font-size: 24px;
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}
