<section class="nav-bar">
  <div class="customer-title">
    <h1 class="NavBar-header">Alyssa Nygren</h1>
    <h5 class="NavBar-subheader">Pour Painting Artist</h5>
  </div>
  <div class="nav-bar-links-container">
    <a class="nav-bar-links" [routerLink]="['/home']" routerLinkActive="active" >Home</a>
    <a class="nav-bar-links" [routerLink]="['/gallery']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Art Gallery</a>
    <a class="nav-bar-links" [routerLink]="['/cart']" routerLinkActive="active">Shopping Cart</a>
  </div>
</section>
