
.artcard-art{
    padding-top: 4vh;;
    width: 32vw;
}
.artcard-container{
    display: flex;
    flex-direction: row;
}
.info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.painting-name{
    font-size: 40px;
    margin-top: 2vh;
    min-width: 25vw;
    justify-content: flex-end;
    display: flex;
    margin-right: 3vw;
}

.painting-description {
    margin-top: 7vh;
    font-size: x-large;
    text-indent: 16px;
    margin-left: 2vw;
}

.painting-price {
    flex-grow: 1;
    margin-top: 13vh;
    font-size: x-large;
    text-indent: 16px;
    margin-right: 1vw;
    justify-content: flex-end;
    display: flex;
}

.add-to-cart-container {
    display: flex;
}

.add-to-cart {
    margin-top: 9vh;
    margin-left: auto;
    width: 173px;
    padding: 1.2rem 0.5rem 1.3rem;
    font-size: 1.2rem;
    border-radius: 6px;
    box-shadow: 0 0.2rem 0.8rem -0.3rem #1f2830;
    background-color: navy;
    color: white;
    margin-right: 3vw;
}