<h1>Art Products Admin</h1>
<h2>Current Products</h2>
<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Score</th>
        <th>Available</th>
        <th>Dimensions</th>
        <th>Image</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    <!-- Display each art product here -->
    <tr *ngFor="let artProduct of artList">
    <td>{{ artProduct.artName }}</td>
    <td>{{ artProduct.artDesc }}</td>
    <td>{{ artProduct.artPrice }}</td>
    <td>{{ artProduct.artScore }}</td>
    <td>{{ artProduct.isAvailable }}</td>
    <td>{{ artProduct.artDimension }}</td>
    <td><img
        class="second-row-image"
        [src]="'data:image/jpeg;base64,' + artProduct.imgBytes"
        alt="{{artProduct.artName}}"
        width="200px"
      /></td>
    <td>
        <!-- Link to edit page -->
        <a href="/admin/edit/{{ artProduct.artId }}">Edit</a>

        <!-- Form to delete product -->
        <div>
            <button (click)="deleteArtProduct(artProduct.artId)">Delete</button>
        </div>
    </td>
    </tr>
</tbody>
</table>
<h2>Add New Product</h2>
    <form [formGroup]="form" (ngSubmit)="createArtProduct()">
        <input type="text" formControlName="artName" />
        <textarea formControlName="artDesc"></textarea>
        <input type="number" formControlName="artPrice" />
        <input type="checkbox" formControlName="isAvailable" />
        <input type="text" formControlName="artDimension" />
        <input type="number" formControlName="artScore" />
        <input type="file" (change)="onFileSelected($event)" />
        <button type="submit">Create Art Product</button>
    </form>