.artcard-container {
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-bottom: 4vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: fit-content;
}

.artcard-art{
    max-width: fit-content;
    max-height: 40vh;
    cursor: pointer;
}

.painting-name {
    margin-top: 3vh;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 23.12px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.2312px;
    color: #48545A;
}

.like-dislike-container {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16.8px;
    line-height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #48545A;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: auto;
    margin-left: auto;
    max-width: 136px;
}
.likes {
    flex-grow: 1;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin-right: 8px;
}
.dislikes {
    flex-grow: 1;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

