<section class="top-art">
  <div class="image4-box">
    <img
      class="Bumfuzzle"
      src="/assets/Images/IMG-1949.jpg"
      alt="Bumfuzzle"
      width="511px"
      height="467px"
    />
  </div>
  <div class="image5-box">
    <img
      class="Everywhen"
      src="/assets/Images/IMG-1950.jpg"
      alt="Everywhen"
      width="511px"
      height="467px"
    />
  </div>
  <div class="image4-textbox">
    <div class="image4-text">Image #4</div>
    <div class="svg1">
      <img
        src="assets/Images/icons8-forward-16.png"
        alt="arrow"
        width="25"
        height="25"
      />
    </div>
  </div>
  <div class="image5-textbox">
    <div class="image4-text">Image #5</div>
    <div class="svg2">
      <img
        src="assets/Images/icons8-forward-16.png"
        alt="arrow"
        width="25"
        height="25"
      />
    </div>
  </div>
</section>
