<div class="artcard-container">
    <a [routerLink]="['/gallery', singleCard.artId]">
        <img class="artcard-art" [src]="'data:image/jpeg;base64,' + singleCard.imgBytes" alt="{{singleCard.artName}}">
    </a>
    <div class="painting-name">{{singleCard.artName}}</div>
    <div class="like-dislike-container">
        <button (click)="incrementLikes()" [ngClass]="{ 'selected': singleCard.hasVoted === 1 }" class="likes">
            Like
        </button>
        <button (click)="decrementLikes()" [ngClass]="{ 'selected': singleCard.hasVoted === -1 }" class="dislikes">
            Dislike
        </button>
    </div>
</div>
