.colored-box-container {
  // background-color:green;

  display: flex;
}

#st-box,
#nd-box,
#rd-box {
  width: 573.34px;
  background-color: rgba(93, 142, 255, 0.2);
  border: none;
  display: flex;
  height: 620px;
  flex-direction: column;
  flex-grow: 1;
}
#st-box {
  background-color: rgba(255, 64, 110, 0.2);
}
#nd-box {
  background-color: rgba(203, 96, 255, 0.2);
}

#img1,
#img2,
#img3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
}

.second-row-container {
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: 700px;
}

.second-row-box {
  height: 767px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.second-row-image {
  width: 511px;
  height: 467px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.img-textbox {
  height: 46.8px;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 43px;

  display: flex;
  flex-direction: row;
}

.img-text {
  height: 47px;

  white-space: nowrap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  display: flex;
  align-items: center;
  color: black;
  flex-grow: 1;
}
.svg {
  white-space: nowrap;
  color: black;
  margin-right: 160px;
}

//last container

.third-row-containter {
  margin-left: 24px;
  height: 597.59px;
  // border: solid black;
}
.grid-container {
  display: grid;
  height: 340px;
  gap: 56px;
  grid-template-columns: auto auto auto;
  background-color:  #fafafa;;
  padding: 10px;
}

.grid-item {
  background-color: white;
  display: flex;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  word-wrap: break-word;
}
h1 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* or 120% */

  display: flex;
  align-items: center;

  color: #969696;
}

.strip-style{
  display: flex;
  text-decoration: none;
  flex-grow: 1;
  max-height: 465px;
}

.event {
  height: 18px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  margin: 24px 0px 0px 24px;
  color: rgba(53, 52, 52, 0.75);
}
.location {
  margin: 8px 0px 24px 24px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* or 140% */

  display: flex;
  align-items: left;
  flex-direction: column;

  color: #353434;
}
.img-text-box {
  display: flex;
  border: solid black;
  display: flex;
  word-wrap: break-word;

  // margin-right: auto;
  // margin-bottom: -120px;
}

.expo-txt-box {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.img-expo {
  width: 153px;
  height: 149px;
  display: flex;
  word-wrap: break-word;
}

.main-section {
  display: flex;
  flex-direction: column;
}
 
.p-image {
  background-repeat: no-repeat;
  background-size: 69vw;
  background-position: center center;
  padding: 1.5vw;
  background-color: #f3f4f5;
  width: 600px;
  height: 400px;
  display: block;
  margin: 0 auto;
}

.text {
  color: #de1f98;
  font-weight: bold;
  font-size:xx-large;  
  margin-left: 21vw;
  margin-top: 0px;
}

.text:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}
