<section>
  <div class="p-image">
    <p class="text" [routerLink]="['/gallery']" routerLinkActive="active" >Paintings Gallery</p>
  </div>
</section>  
<section>
  <div class="colored-box-container">
    <div id="st-box">
      <a class="strip-style" [routerLink]="['/gallery', cards[0].id]">
        <img
          id="img1"
          src="/assets/Images/{{cards[0].filename}}.jpg"
          alt="{{cards[0].name}}"
          width="424px"
          height="398px"
        />
      </a>
      
      <div class="img-textbox">
        <a class="strip-style" [routerLink]="['/gallery', cards[0].id]">
          <div class="img-text">{{cards[0].name}}</div>
          <div class="svg">
            <img
              src="assets/Images/icons8-forward-16.png"
              alt="arrow"
              width="14.36px"
              height="40.55px"
            />
          </div>
        </a>
      </div>
    </div>

    <div id="nd-box">
      <a class="strip-style" [routerLink]="['/gallery', cards[1].id]">
        <img
          id="img2"
          src="/assets/Images/{{cards[1].filename}}.jpg"
          alt="{{cards[1].name}}"
          width="424px"
          height="398px"
        />
      </a>
      <div class="img-textbox">
        <a class="strip-style" [routerLink]="['/gallery', cards[1].id]">
          <div class="img-text">{{cards[1].name}}</div>
          <div class="svg">
            <img
              src="assets/Images/icons8-forward-16.png"
              alt="arrow"
              width="14.36px"
              height="40.55px"
            />
          </div>
        </a>
      </div>
    </div>

    <div id="rd-box">
      <a class="strip-style" [routerLink]="['/gallery', cards[2].id]">
        <img
          id="img3"
          src="/assets/Images/{{cards[2].filename}}.jpg"
          alt="{{cards[2].name}}"
          width="424px"
          height="398px"
        />
      </a>
      
      <div class="img-textbox">
        <a class="strip-style" [routerLink]="['/gallery', cards[2].id]">
          <div class="img-text">{{cards[2].name}}</div>
          <div class="svg">
            <img
              src="assets/Images/icons8-forward-16.png"
              alt="arrow"
              width="14.36px"
              height="40.55px"
            />
          </div>
        </a>
        
      </div>
    </div>
  </div>

  <div class="second-row-container">
    <div class="second-row-box">
      <a class="strip-style" [routerLink]="['/gallery', cards[3].id]">
        <img
          class="second-row-image"
          src="/assets/Images/{{cards[3].filename}}.jpg"
          alt="{{cards[3].name}}"
          width="511px"
          height="467px"
        />
      </a>
      
      <div class="img-textbox">
        <a class="strip-style" [routerLink]="['/gallery', cards[3].id]">
          <div class="img-text">{{cards[3].name}}</div>
          <div class="svg">
            <img
              src="assets/Images/icons8-forward-16.png"
              alt="arrow"
              width="14.36px"
              height="40.55px"
            />
          </div>
        </a>
        
      </div>
    </div>

    <div class="second-row-box">
      <a class="strip-style" [routerLink]="['/gallery', cards[4].id]">
        <img
          class="second-row-image"
          src="/assets/Images/{{cards[4].filename}}.jpg"
          alt="{{cards[4].name}}"
          width="511px"
          height="467px"
        />
      </a>
      
      <div class="img-textbox">
        <a class="strip-style" [routerLink]="['/gallery', cards[4].id]">
          <div class="img-text">{{cards[4].name}}</div>
          <div class="svg">
            <img
              src="assets/Images/icons8-forward-16.png"
              width="14.36px"
              height="40.55px"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="third-row-containter">
    <h1>Recent exhibitions</h1>

    <div class="grid-container">
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/{{cards[15].filename}}.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Event, Exhibitions</p>
          <p class="location">Van Gogh Minneapolis</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/{{cards[17].filename}}.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">
            December Cross Currents: Winter Solstice <br />
            (Minneapolis Institute of Art )
          </p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/{{cards[19].filename}}.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">The Alchemy of Language (MCAD)</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/{{cards[21].filename}}.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">Manure and Poetry #3 (umn)</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/{{cards[23].filename}}.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">An American in Siberia (TMORA)</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/{{cards[25].filename}}.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Event, Exhibitions</p>
          <p class="location">Shallow River (Midway Art)</p>
        </div>
      </div>
    </div>
  </div>
</section>
