<section class="main-section">
  <div class="p-image" [routerLink]="['/gallery']" routerLinkActive="active" #imageContainer>
  </div>
  <p class="text" [routerLink]="['/gallery']" routerLinkActive="active">Paintings Gallery</p>
</section>  
<section>
  <div class="colored-box-container">
    <div id="st-box">
      <a class="strip-style" [routerLink]="['/gallery', cards[0].artId]">
        <img
          id="img1"
          [src]="'data:image/jpeg;base64,' + cards[0].imgBytes"
          alt="{{cards[0].artName}}"
          width="424px"
          height="398px"
        />
      </a>
      
      <div class="img-textbox">
        <a class="strip-style" [routerLink]="['/gallery', cards[0].artId]">
          <div class="img-text">{{cards[0].artName}}</div>
          <div class="svg">
            <img
              src="assets/Images/icons8-forward-16.png"
              alt="arrow"
              width="14.36px"
              height="40.55px"
            />
          </div>
        </a>
      </div>
    </div>

    <div id="nd-box">
      <a class="strip-style" [routerLink]="['/gallery', cards[1].artId]">
        <img
          id="img2"
          [src]="'data:image/jpeg;base64,' + cards[1].imgBytes"
          alt="{{cards[1].artName}}"
          width="424px"
          height="398px"
        />
      </a>
      <div class="img-textbox">
        <a class="strip-style" [routerLink]="['/gallery', cards[1].artId]">
          <div class="img-text">{{cards[1].artName}}</div>
          <div class="svg">
            <img
              src="assets/Images/icons8-forward-16.png"
              alt="arrow"
              width="14.36px"
              height="40.55px"
            />
          </div>
        </a>
      </div>
    </div>

    <div id="rd-box">
      <a class="strip-style" [routerLink]="['/gallery', cards[2].artId]">
        <img
          id="img3"
          [src]="'data:image/jpeg;base64,' + cards[2].imgBytes"
          alt="{{cards[2].artName}}"
          width="424px"
          height="398px"
        />
      </a>
      
      <div class="img-textbox">
        <a class="strip-style" [routerLink]="['/gallery', cards[2].artId]">
          <div class="img-text">{{cards[2].artName}}</div>
          <div class="svg">
            <img
              src="assets/Images/icons8-forward-16.png"
              alt="arrow"
              width="14.36px"
              height="40.55px"
            />
          </div>
        </a>
        
      </div>
    </div>
  </div>

  <div class="second-row-container">
    <div class="second-row-box">
      <a class="strip-style" [routerLink]="['/gallery', cards[3].artId]">
        <img
          class="second-row-image"
          [src]="'data:image/jpeg;base64,' + cards[3].imgBytes"
          alt="{{cards[3].artName}}"
          width="511px"
          height="467px"
        />
      </a>
      
      <div class="img-textbox">
        <a class="strip-style" [routerLink]="['/gallery', cards[3].artId]">
          <div class="img-text">{{cards[3].artName}}</div>
          <div class="svg">
            <img
              src="assets/Images/icons8-forward-16.png"
              alt="arrow"
              width="14.36px"
              height="40.55px"
            />
          </div>
        </a>
        
      </div>
    </div>

    <div class="second-row-box">
      <a class="strip-style" [routerLink]="['/gallery', cards[4].artId]">
        <img
          class="second-row-image"
          [src]="'data:image/jpeg;base64,' + cards[4].imgBytes"
          alt="{{cards[4].artName}}"
          width="511px"
          height="467px"
        />
      </a>
      
      <div class="img-textbox">
        <a class="strip-style" [routerLink]="['/gallery', cards[4].artId]">
          <div class="img-text">{{cards[4].artName}}</div>
          <div class="svg">
            <img
              src="assets/Images/icons8-forward-16.png"
              width="14.36px"
              height="40.55px"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="third-row-containter">
    <h1>Recent exhibitions</h1>

    <div class="grid-container">
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            [src]="'data:image/jpeg;base64,' + cards[10].imgBytes"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Event, Exhibitions</p>
          <p class="location">Van Gogh Minneapolis</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            [src]="'data:image/jpeg;base64,' + cards[9].imgBytes"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">
            December Cross Currents: Winter Solstice <br />
            (Minneapolis Institute of Art )
          </p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            [src]="'data:image/jpeg;base64,' + cards[8].imgBytes"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">The Alchemy of Language (MCAD)</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            [src]="'data:image/jpeg;base64,' + cards[7].imgBytes"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">Manure and Poetry #3 (umn)</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            [src]="'data:image/jpeg;base64,' + cards[11].imgBytes"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">An American in Siberia (TMORA)</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            [src]="'data:image/jpeg;base64,' + cards[12].imgBytes"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Event, Exhibitions</p>
          <p class="location">Shallow River (Midway Art)</p>
        </div>
      </div>
    </div>
  </div>
</section>
