<section>
  <div class="p-image">
    <p class="text" [routerLink]="['/gallery']" routerLinkActive="active" >Paintings Gallery</p>
  </div>
</section>  
<section>
  <div class="colored-box-container">
    <div id="st-box">
      <img
        id="img1"
        src="/assets/Images/IMG-1950.jpg"
        alt="Bumfuzzle"
        width="424px"
        height="398px"
      />
      <div class="img-textbox">
        <div class="img-text">Image #1</div>
        <div class="svg">
          <img
            src="assets/Images/icons8-forward-16.png"
            alt="arrow"
            width="14.36px"
            height="40.55px"
          />
        </div>
      </div>
    </div>

    <div id="nd-box">
      <img
        id="img2"
        src="/assets/Images/IMG-1955.jpg"
        alt="Bumfuzzle"
        width="424px"
        height="398px"
      />
      <div class="img-textbox">
        <div class="img-text">Image #2</div>
        <div class="svg">
          <img
            src="assets/Images/icons8-forward-16.png"
            alt="arrow"
            width="14.36px"
            height="40.55px"
          />
        </div>
      </div>
    </div>

    <div id="rd-box">
      <img
        id="img3"
        src="/assets/Images/IMG-1955.jpg"
        alt="Bumfuzzle"
        width="424px"
        height="398px"
      />
      <div class="img-textbox">
        <div class="img-text">Image #3</div>
        <div class="svg">
          <img
            src="assets/Images/icons8-forward-16.png"
            alt="arrow"
            width="14.36px"
            height="40.55px"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="second-row-container">
    <div class="second-row-box">
      <img
        class="second-row-image"
        src="/assets/Images/IMG-1958.jpg"
        alt="Bumfuzzle"
        width="511px"
        height="467px"
      />
      <div class="img-textbox">
        <div class="img-text">Image #4</div>
        <div class="svg">
          <img
            src="assets/Images/icons8-forward-16.png"
            alt="arrow"
            width="14.36px"
            height="40.55px"
          />
        </div>
      </div>
    </div>

    <div class="second-row-box">
      <img
        class="second-row-image"
        src="/assets/Images/IMG-1964.jpg"
        alt="Bumfuzzle"
        width="511px"
        height="467px"
      />
      <div class="img-textbox">
        <div class="img-text">Image #5</div>
        <div class="svg">
          <img
            src="assets/Images/icons8-forward-16.png"
            width="14.36px"
            height="40.55px"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="third-row-containter">
    <h1>Recent exhibitions</h1>

    <div class="grid-container">
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/IMG-1955.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Event, Exhibitions</p>
          <p class="location">Van Gogh Minneapolis</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/IMG-1955.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">
            December Cross Currents: Winter Solstice <br />
            (Minneapolis Institute of Art )
          </p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/IMG-1955.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">The Alchemy of Language (MCAD)</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/IMG-1955.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">Manure and Poetry #3 (umn)</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/IMG-1955.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Art, Exhibitions</p>
          <p class="location">An American in Siberia (TMORA)</p>
        </div>
      </div>
      <div class="grid-item">
        <div class="img-expo-box">
          <img
            class="img-expo"
            src="/assets/Images/IMG-1955.jpg"
            width="153px"
            height="149px"
          />
        </div>
        <div class="expo-txt-box">
          <p class="event">Event, Exhibitions</p>
          <p class="location">Shallow River (Midway Art)</p>
        </div>
      </div>
    </div>
  </div>
</section>
