.colored-box-container {
  // background-color:green;

  display: flex;
}

#st-box,
#nd-box,
#rd-box {
  width: 573.34px;
  background-color: rgba(93, 142, 255, 0.2);
  border: none;
  display: flex;
  height: 620px;
  flex-direction: column;
  flex-grow: 1;
}
#st-box {
  background-color: rgba(255, 64, 110, 0.2);
}
#nd-box {
  background-color: rgba(203, 96, 255, 0.2);
}

#img1,
#img2,
#img3 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 67px;
}

.second-row-container {
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: 700px;
}

.second-row-box {
  height: 467px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.second-row-image {
  width: 511px;
  height: 467px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.img-textbox {
  height: 46.8px;

  margin-top: auto;
  margin-bottom: auto;
  margin-left: 43px;

  display: flex;
  flex-direction: row;
}

.img-text {
  height: 47px;

  white-space: nowrap;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  display: flex;
  align-items: center;
  color: black;
  flex-grow: 1;
}
.svg {
  width: 14.36px;
  height: 40.55px;
  top: 576px;
  white-space: nowrap;
  color: black;
  margin-right: 40px;
}

//last container

.third-row-containter {
  height: 597.59px;
  // border: solid black;
}
.grid-container {
  display: grid;
  height: 340px;
  gap: 0px;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  // border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  word-wrap: break-word;
}
h1 {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* or 120% */

  display: flex;
  align-items: center;

  color: #969696;
}

.event {
  height: 18px;
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* or 140% */

  display: flex;
  flex-direction: column;
  align-items: center;

  color: rgba(53, 52, 52, 0.75);
}
.location {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  /* or 140% */

  display: flex;
  align-items: center;
  flex-direction: column;

  color: #353434;
}
.img-text-box {
  display: flex;
  border: solid black;
  display: flex;
  width: 153px;
  height: 149px;
  word-wrap: break-word;

  // margin-right: auto;
  // margin-bottom: -120px;
}

.img-expo {
  width: 153px;
  height: 149px;
  margin-bottom: -120px;
  display: flex;
  word-wrap: break-word;
}
